<div class="feetback__container">
	<h1 class="feetback__title">Зворотній звязок</h1>
	<div class="feetback__content">
		<div class="feetback__info">
			<form  action="">
				<div class="form__group form-group__one">
					<label class="user__label" for="">Ваше питання,відгук або побаження</label>
					<input class="user__input" type="text" name="" id="">
				</div>
				<div class="form__group form-group__two">
					<label class="email__label" for="">Email для получення відповіді</label>
					<input class="email__input" type="text">
				</div>
			</form>
		</div>
		<div class="feetback__image">
			<div class="image__one">
				<img src="../../../../assets/img/about-us/image 12.svg" alt="">
			</div>
			<div class="image__two">
				<img src="../../../../assets/img/about-us/image 27.svg" alt="">
			</div>
		</div>
	</div>
</div>
