<header class="header" >
   <div class="header__container">
   <p class="header__logo">Admin Menu</p>
   <nav class="header__menu">
      <ul class="header__items">
         <li class="header__item">
            <a routerLinkActive="active" routerLink="./home">Home</a>
         </li>
         <li class="header__item">
            <a routerLinkActive="active" routerLink="./products">Product-List</a>
         </li>
         <li class="header__item item__exit">
            <a (click)="logout()"><img src="../../../../../../assets/img/icon/free-icon-exit-1286969.png" alt=""></a>
      </li>
      </ul>
   </nav>
</div>
</header>

