

.header {
	background-image: linear-gradient(357deg, rgba(168, 105, 74, 0.15) 0%,rgba(49, 77, 202, 0.15) 100%),linear-gradient(447deg, rgb(88, 1, 221),rgb(0,0,0));
	position: fixed;
	z-index: 10;
	width: 100%;
	&__container {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		gap: 20px;
		height: 60px;
	}

	&__content {
	
		
	}
	&__icon {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}
  
	&__menu {
		display: flex;
		align-items: center;
	}

	&__list:hover {
		
	}

	&__items {
		display: flex;
	}
   &__item {

   }
	&__item:hover {
	
	}
	&__poshuk {
	}
	&__poshuk:hover {
		opacity: 0.7;
	}

	&__basket {
		color: #fff;
		font-size: 24px;
		padding: 5px 10px;
		border-radius: 5px;
	}
	&__basket:hover {
		opacity: 0.6;
	
	}


	&__account {
		color: #fff;
		font-size: 24px;
		padding: 5px 10px;
		border-radius: 5px;
	}
	&__account:hover {
		opacity: 0.6;
	}
}
.header-about-us {
	color: #fff;
	font-size: 24px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
}
.header-about-us {
	&__icon img {
     align-self: center;
	  margin-top: 5px;
	}
}
.header-about-us:hover {
opacity: 0.6;
}

.header-product {

	&__list {
		position: absolute;
		top: 55px;
	}
}
.header-product {

	&__items {
	   display: flex;
		flex-direction: column;
		gap: 5px;
		background-color: rgb(74, 68, 107);
		padding: 10px;
		border-radius: 5px;
	}

	&__item {
		font-size: 17px;
		line-height: 20px;
		color: #fff;
		margin-bottom: 5px;
	}
	&__item:hover {
		text-decoration: underline;
		opacity: 0.6;
	}
}



@media(max-width: 845px) {
	.header {
		&__logo{
			width: 150px;
		}
		&__items {
			display: block;
		}
		&__basket {
			padding: 5px 5px;
			z-index: 10;
		}
		&__item {
			padding: 30px 0px 0px 0px;
			text-align: center;
		}
		&-about-us {
			font-size: 22px;
		}
		&__account {
			padding: 5px 5px;
			z-index: 10;
		}
		&__list {
			position: absolute;
			z-index: 5;
			right: -100%;
			top: 0;
			transition: right 0.5s ease;
		 &.isMenuOpen {
			right:0%;
			padding-top: 50px;
			transition: right 0.5s ease;
			width: 100%;
			background-image: linear-gradient(357deg, rgba(168, 105, 74, 0.15) 0%,rgba(49, 77, 202, 0.15) 100%),linear-gradient(447deg, rgb(139, 90, 212),rgb(0,0,0));
			height: 100vh;
			overflow-y: auto;
		}
		}
	}
	.header-product {

		&__list {
			position: relative;
			top: 0px;
		}
		&__items {
			background:none;
			padding: 10px 0px 0px;
		}
		&__item {
			font-size: 20px;
			padding: 10px 0px 0px 0px;
		}
	}
	.icon {
		&__menu {
			position: relative;
			width: 30px;
			z-index: 5;
			height: 3px;

			&.isIconClick span{
				&:nth-child(1) {
					transform: translateY(0) rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				 }
				 &:nth-child(3) {
					transform:translateY(0) rotate(-45deg);
				 }
			}

		}
		&__menu span {
			position: absolute;
			width: 30px;
			height: 3px;
			background-color: #fff;
			right: 0px;
			transition: transform .3s, opacity .3s, background-color .3s;
		}
		&__menu span:nth-child(1) {
			transform: translateY(-10px);
		}
		&__menu span:nth-child(3) {
			transform: translateY(10px);
		}	

	}


}

