.header {
  background-image: linear-gradient(357deg, rgba(168, 105, 74, 0.15) 0%, rgba(49, 77, 202, 0.15) 100%), linear-gradient(447deg, rgb(88, 1, 221), rgb(0, 0, 0));
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
  height: 60px;
}
.header__icon {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__items {
  display: flex;
}
.header__item:hover {
  opacity: 0.7;
}
.header__poshuk:hover {
  opacity: 0.7;
}
.header__basket {
  color: #fff;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
}
.header__basket:hover {
  opacity: 0.6;
}
.header__account {
  color: #fff;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
}
.header__account:hover {
  opacity: 0.6;
}

.header-about-us {
  color: #fff;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.header-about-us__icon img {
  align-self: center;
  margin-top: 5px;
}

.header-product__list {
  position: absolute;
  top: 55px;
}

.header-product__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(74, 68, 107);
  padding: 10px;
  border-radius: 5px;
}
.header-product__item {
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 5px;
}
.header-product__item:hover {
  text-decoration: underline;
}