.dish {

	&__container {
		padding-top: 50px;
	}

	&__title {
		font-size: 38px;
		text-align: center;
		color: #ffffff;
	}

	&__sort {
	}
}
.sort {

	&__title {

	}

	&__list {
	}
}
.list {

	&__items {
	}

	&__item {
	}
}
.products {

	&__container {
	}
}
.product {

	&__items {
		padding-bottom: 100px;
	}

	&__item {
	}

	&__image {
	}

	&__name {
	}

	&__weight {
	}

	&__opus {
	}

	&__additional {
	}

	&__price {
	}
}
.product-add {

	&__basket {
	}
}
