<footer class="footer">
  <div class="footer__one">
  <div class="footer-left__one">
  <div class="footer-info__icon">
    <a href="#" class="footer__icon"><img src="../../../assets/img/icon/Logo%20(1).svg"></a>
  </div>
  <div  class=footer__communication>
    <a routerLink="/feetback" class="footer__phone">Зворотній звязок</a>
    <a routerLink="/delivery" class="footer__delivery">Доставка</a>
    <a  href="#" class="footer__pay">Оплата</a>
    <a  href="#" class="footer__contact">Контакти</a>
  </div>
  </div>

  <div class="footer-right__one">
    <a href="#" class="footer__number">+380 (99) 134 46 86</a>
    <a class="footer__email">delivery@midas.rest
    </a>
  </div>
  </div>
  <div class="footer__two">
    <div class="footer-two__left">
      <p class="footer-two__info">© 2018–2024, ООО «MIDAS», офіційний сайт</p>
    </div>
    <div class="footer-two__rigth">
      <p class="footer-two__info">Политика конфиденциальности и оферта</p>
      <p class="footer-two__info">Пользовательское соглашение</p>
    </div>
  </div>
</footer>
