<div class="delivery__container">
	<h1 class="delivety__title">Доставка та додаткова інформація</h1>
	<div class="delivety__content">
		<div class="delivery__info">
			<h2 class="delivery-info__title">Найкраща та найшвидша доставка у нашому Місті!</h2>
			<nav class="info__list">
				<ul class="info__items">
					<li class="info__item">1.Безкоштовна Доставка при покупці він 1000 грн!</li>
					<li class="info__item">2.Гарантуєм доставку до 30 хвилин після передачи курєру!</li>
					<li class="info__item">3.В разі перевищення 30 хвилин доставка безкоштовна!</li>
					<li class="info__item">4.Присутні промокоди які зменшать вартість доставки та їжі</li>
					<li class="info__item">5.Після 5 замовлень наступни 2 доставки безкоштовні</li>
				</ul>
			</nav>
			<p  class="info__promo"><span>?</span>Хочете Отримати промокод, реєструйтеся та получайте -30% на перше замовлення, та два промокоди</p>
		</div>
		<div class="delivery__image">
		<div class="deliveri-image__1">
			<img class="" src="../../../../assets/img/icon/Logo (1).svg" alt="">
		</div>
		<div class="deliveri-image__3">
			<img class="" src="../../../../assets/img/about-us/image 12.svg" alt="">
		</div>
	</div>
</div>
</div>
