
<div class="hot-dist__container">
	<h1 class="hot-dist__title">Гарячі страви</h1>
	<div class="hot-dist__sort sort">
		<div class="sort__title">Сотрувати:</div>
		<nav class="sort__list">
			<select class="list__items">
				<option class="list__item">За замовчуванням</option>
				<option class="list__item">Ціна за зростанням</option>
				<option class="list__item">Ціна за спаданням</option>
			</select>
		</nav>
	</div>
	<div class="products__container">
		<div class="product__item product">
			<img class="product__image" src="../../../assets/img/menu/menu-product/Mask Group (1).svg" alt="">
			<a class="product__name" href="#">Котлета с картофелем по-деревенски</a>
			<p class="product__weight">350</p>
			<p class="product__opus">По семейному рецепту: нежнейшее рубленное мясо с экологически чистыми ферме...</p>
			<div class="product__additional">
				<p class="product__price">340</p>
				<a href="#" class="product-add__basket"><img src="../../../assets/img/menu/menu-product/Vector (5).svg" alt=""></a>
			 </div>
		</div>
	</div>
</div>
