<div class="about-us__container">
	<div class="about-us__one">
	<div class="about-us__content">
		<div class="about-us__title">Корисна їжа – це смачно! Домащня продукція та домашній самогон!</div>
		<div class="about-us__opus">Шанувальників рослинної їжі стає все більше: щороку в магазинах з’являються нові веганські продукти, а кожне кафе чи ресторан має хоча б кілька страв для тих, хто не вживає м’яса. Більш того: спільнота прихильників здорової їжі вже сформувала власний вид кухні з унікальними стравами!</div>
	</div>
	<div class="about-us__image">
		<div class="image__one">
			<img src="../../../../assets/img/about-us/image 12.svg" alt="">
		</div>
		<div class="image__two">
			<img src="../../../../assets/img/about-us/image 27.svg" alt="">
		</div>
	</div>
  </div>

  <div class="about-us__two">
	<div class="about-us-two__title">
		<h3>Хто наші відвідувачі:</h3>
	</div>
	<nav class="about-us-info__list">
		<ul class="about-us-list__items">
			<li class="about-us-list__item"><b class="about-us-list-item__item">Вегетаріанці та вегани.</b> У нас ви можете не лише смачно пообідати, а й поспілкуватися з однодумцями, котрі розділяють ваші цінності. Ми прагнемо створити дружну спільноту, де кожен зможе знайти розуміння, поділитися досвідом та відшукати відповіді на різноманітні питання.</li>
			<li class="about-us-list__item"><b class="about-us-list-item__item">Прихильники здорового харчування. </b>Чимало українців відмовляється від тваринної їжі з метою покращити самопочуття. Утім, наші відвідувачі – це необов’язково  люди, котрі цілковито заперечують звичайні страви: навіть якщо ви далеко не завжди обираєте веганські кафе замість піцерії, організм буде вдячний вам за кожен здоровий обід.</li>
			<li class="about-us-list__item"><b class="about-us-list-item__item">Ті, хто цінує кулінарне мистецтво.</b> Спробувати незвичайні страви – завжди цікавий досвід. Тим більш, що позиції нашого меню не лише смачні, а й неймовірно корисні.</li>
		</ul>
	</nav>
  </div>
</div>
